---
import Page from "@components/Page.astro";
import SiteHeader from "@components/SiteHeader.astro";

const title = "About";
const description = "About Me";
---

<Page title={title} description={description}>
  <SiteHeader />

  <div class="flex justify-center">
    <div class="text-lg w-5/6 lg:w-3/4">
      <p class="my-6 font-semibold">
        {description}
      </p>
      <p class="my-6 whitespace-pre">
        Someday I might write an intro paragraph...
        <a href="/assets/aalhendi_cv.pdf" class="text-blue-600 text-xl"
          >Resume (.pdf)</a
        >
      </p>
      <div class="ml-8 text-lg text-zinc-900 prose dark:text-white">
        <p>Formal Experience:</p>

        <ul>
          <li>2019 - B.S Chemical Engineering - Iowa State University, USA</li>

          <li>
            2016 - 2018 - <a class="dark:text-white"
              href="https://scholar.google.com/citations?user=daxl9aQAAAAJ&hl=en"
              >Rollins Lab</a
            >, Research Assistant - Ames, Iowa, USA
          </li>

          <li>
            2018 - 2019 - <a class="dark:text-white"
              href="https://scholar.google.com/citations?user=53UKJZ8AAAAJ&hl=en"
              >Willette Lab</a
            >, Research Assistant - Ames, Iowa, USA
          </li>

          <li>
            2018 - 2019 - <a class="dark:text-white"
              href="https://fshn.hs.iastate.edu/directory/wang-qian/"
              >Wang Lab</a
            >, Research Assistant - Ames, Iowa, USA
          </li>

          <li>
            2020 - 2023 - <a class="dark:text-white"
              href="https://research.dasmaninstitute.org/en/publications/"
              >Dasman Diabetes Institute</a
            >, Sr. Research Technician - Kuwait
          </li>

          <li>
            2023 - 2023 - <a class="dark:text-white"
              href="https://www.warbabank.com/english/personal/what-we-offer/digital-services"
              >Warba Bank</a
            >, Jr. Integrations Developer (Back‑End) - Kuwait
          </li>

          <li>
            2023 - (present) - <a class="dark:text-white"
              href="https://www.knet.com.kw/"
              >The Shared Electronic Banking Services Company (KNET)</a
            >, Experienced Associate, Developer - Kuwait
          </li>
        </ul>
      </div>
      <p class="my-6">
        Might post some of my recent projects or highlighted works. For now its
        empty...
      </p>
    </div>
  </div>
</Page>
