---
import Page from '@components/Page.astro'
import SiteHeader from '@components/SiteHeader.astro'

const title = 'aalhendi'
const description = "some of my stuff"
---

<Page title={title} description={description}>

    <SiteHeader />

    <div class='flex justify-center'>
        <div class='text-lg w-5/6 lg:w-3/4'>
            <p class='my-6 font-semibold'>
                {description}
            </p>
            <p class='my-6 whitespace-pre-line'>
                Will put up some things here when I feel like it.
		Mostly unorganized dump of thoughts and ideas I mention more than twice.
            </p>
        </div>
    </div>
    <div class='flex justify-center'>
    </div>

</Page>
