<nav class='flex justify-center mt-6 mb-12'>
  <a class='mx-2 underline underline-offset-2 decoration-dashed' href='/'>
      Home
  </a>
  <a class='mx-2 underline underline-offset-2 decoration-dashed' href='/blog'>
      Blog
  </a>
  <a class='mx-2 underline underline-offset-2 decoration-dashed' href='/about'>
      About
  </a>
</nav>
