---
import Nav from './Nav.astro'
---

<header class='font-sans text-zinc-700 dark:text-gray-50 text-lg'>
    <a href='/'>
        <div class='flex justify-center my-10'>
            <img class='h-28 rounded-full shadow-md shadow-zinc-500' src='/assets/logo.png' alt='Peepo Shark' />
        </div>
        <h1 class="text-center text-3xl mt-6 mb-3 font-extrabold font-mono">
	    aalhendi
        </h1>
    </a>
    <Nav/>
</header>
