---
import BlogHeader from "@components/BlogHeader.astro";
import Page from "@components/Page.astro";

const { content } = Astro.props;
const { title, description, version } = content;
---

<Page {title} {description}>
  <div>
    <header>
      <BlogHeader title="aalhendi" />
    </header>
  </div>
  <div class="flex justify-center font-sans text-zinc-700">
    <div class="text-lg w-5/6 lg:w-3/4 prose">
      <h1 class="text-2xl font-semibold mt-8 dark:text-gray-100">{title}</h1>
      <div class="prose text-lg dark:text-gray-200">
        <slot />
      </div>
      <p class="text-sm mt-16 dark:text-gray-100">
        Version {version}
      </p>
    </div>
  </div>
</Page>
